blob-mode-switch {
  display: block;

  ion-radio-group {
    display: flex !important;
    gap: 8px;

    ion-item {
      --background: transparent;
      --border-radius: 10px;

      ion-radio {
        --color-checked: var(--ion-color-tertiary);
      }
    }
  }
}
