blob-mode-url {
  display: block;

  ion-item {
    --background: rgb(var(--ion-color-medium-rgb) / 22%);
    --background-hover: rgb(var(--ion-color-dark-rgb) / 12%);
    --background-activated: rgb(var(--ion-color-dark-rgb) / 22%);
    --background-focused: rgb(var(--ion-color-dark-rgb) / 22%);
  }
}
